body {
    font-family: Arial, Helvetica, sans-serif;
    color: #f1efdf;
    background-color: #141259;
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

h1 {
    margin: 20px 20px 0;
    font-size: 40px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

.banner {
    font-size: 30px;
    padding: 4px;
    margin: 30px 0 0 60px;
    background-color: #F2B705;
    display: inline-block;
}

.about {
    background-color: #2703A6;
    height: 60px;
    padding: 20px 0 30px;
    margin-top: -20px;
}


.hobbies {
    background-color: #2703A6;
    padding: 20px 0 10px;
    margin-top: -20px;
}

header {
    display: flex;
    align-items: center;
    background-color: #F29F05;     
}

footer {
    background-color: #F29F05;
    position: fixed;
    bottom: 0;
    width: 800px;
    text-align: center;
}

.navbar {
    padding: 16px;
    margin: 0;
    list-style-type: none;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #f1efdf;
    padding: 16px 8px;
}

.navbar a:hover {
    color: #56647e;
    text-shadow: 0.5px 0.5px 0.5px #56647e;
    transition-delay: 50ms;
}

.cat-gif {
    height: 150px;
    width: 300px;
    float: right;
    margin: 30px 40px 0 0;
}

/*Styles for east one and two*/
.main-east {
    width: 800px;
    color: #f1efdf;
    margin-left: auto;
    margin-right: auto;
    background-color: #F29F05;
}

.main-east h1 {
    margin: 40px 0 0 40px;
    background-color: #2703A6;
}

.body-east {
    background-color: #141259;
}

.main-east img {
    width: 500px;
    padding: 8px 0 0 40px;
}
