body {
    font-family: Arial, Helvetica, sans-serif;
    color: #f0ead2;
    background-color: #2a9d8f;
    margin: 0;
    padding: 0;
    font-weight: bold;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

h1 {
    margin: 20px 20px 0;
    font-size: 70px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

.about-banner, .hobbies-banner {
    font-size: 30px;
    padding: 8px 16px;
    margin: 30px 0 0 60px;
    background-color: #e76f51;
    display: inline-block;
    text-shadow: 0.5px 0.5px 0 #959595;
}

.about {
    background-color: #f4a261;
    height: 60px;
    padding: 20px 0 20px;
    margin-top: -24px;
    text-shadow: 1px 1px 0 #959595;
}


.hobbies {
    background-color: #f4a261;
    padding: 20px 0 10px;
    margin-top: -24px;
    text-shadow: 1px 1px 0 #959595;
}

header {
    display: flex;
    align-items: center;
    background-color: #264653;     
}

footer {
    background-color: #264653;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar {
    padding: 16px;
    margin: 0;
    list-style-type: none;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #f0ead2;
    padding: 16px 8px;
    transition: all 200ms ease-out 10ms;
}

.navbar a:hover {
    color: #e9c46a;
    text-shadow: 0.4px 0.4px 1px #e9c56a;
}

.cat-gif {
    height: 200px;
    width: 400px;
    float: right;
    margin: 20px 100px 0 0 ;
}
