body {
    font-family: Arial, Helvetica, sans-serif;
    color: #06070E;
    background-color: #F7F7F2;
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 90%;
    min-width: 600px;
}

a {
    text-decoration: none;
}

h1 {
    margin: 20px 20px 0;
    font-size: 40px;
}

h2 {
    color: #F7F7F2;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

.banner {
    font-size: 30px;
    padding: 4px;
    margin: 30px 0 0 60px;
    background-color: #29524A;
    display: inline-block;
}

.about {
    background-color: #94A187;
    height: 60px;
    padding: 20px 0 30px;
    margin-top: -20px;
}


.hobbies {
    background-color: #94A187;
    padding: 20px 0 10px;
    margin-top: -20px;
}

.left {
    float: right;
}

header {
    display: flex;
    align-items: center;
    background-color: #94A187;
    width: 10vw;
    position: fixed;
    height: 100vh;
}

footer {
    background-color: #94A187;
    color: #f4f1de;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.navbar {
    padding: 16px;
    margin: 0;
    list-style-type: none;
}

.navbar li {
    /*display: inline-block;*/
    padding: 8px 0;
}

.navbar a {
    color: #f4f1de;
    padding: 16px 8px;
}

.navbar a:hover {
    color: #102542;
}

.cat-gif {
    height: 100px;
    width: 300px;
    float: right;
    margin: 40px 100px 0 0;
    transform: scaleX(-1);
}
