body {
    font-family: Arial, Helvetica, sans-serif;
    color: #102542;
    background-color: #F7F7F2;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

a {
    text-decoration: none;
}

h1 {
    margin: 8px 20px 0;
}

main {
    margin-left: 20px;
}

header {
    display: flex;
    align-items: center;
    background-color: #29524A;     
}

footer {
    background-color: #29524A;
    color: #f4f1de;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar {
    padding: 16px;
    margin: 0;
    list-style-type: none;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #f4f1de;
    padding: 16px 8px;
}

.navbar a:hover {
    color: #789ad8;
    transition-delay: 50ms;
}

.cat-gif {
    height: 100px;
    width: 300px;
    float: right;
    margin: 40px 100px 0 0;
    transform: scaleX(-1);
}
